@import "./index";

* {
  box-sizing: border-box;
}
body {
  font-family: $Montserrat;
  background-color: $darkblue;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

h2 {
  color: #fff;
}

ul,
li {
  list-style: none;
}
section {
  margin: 1rem;
}

.App {
  background-image: url(./itachi-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.app-wrapper {
  padding-top: 50px;
  @include flex(row, flex-start, flex-start);
}

.side-column {
  width: 15%;
}
.middle-column {
  width: 70%;
}
.middle-upper {
  @include flex(row, center, flex-end);
}
.middle-left {
  width: 40%;
}
.middle-right {
  width: 30%;
}
.middle-center {
  width: 30%;
}

.btn__view-all {
  background-color: transparent;
  outline: none;
  border-radius: 7px;
  border: 1px solid #fff;
  padding: 0.7rem 1.2rem;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 700;
  &:hover {
    border: 1px solid $crimsonred;
    color: $crimsonred;
  }
}
