@import "./index";

body {
  font-family: $Montserrat;
  background-color: $darkblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.75rem;
}

h2 {
  color: #fff;
}

ul,
li {
  list-style: none;
}

.App {
  background-image: url(./itachi-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  @include flex(row, flex-start, flex-start);
}

.left-column {
}
.middle-column {
}
.middle-left {
}
.middle-middle {
}
.middle-right {
}
.right-column {
}

.btn__view-all {
  background-color: transparent;
  outline: none;
  border-radius: 7px;
  border: 1px solid #fff;
  padding: 0.7rem 1.2rem;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 700;
  &:hover {
    border: 1px solid $crimsonred;
    color: $crimsonred;
  }
}
