@import "./index";

.credits__container {
  padding: 1rem;
  border-radius: 20px;
  background-color: $sectionbg;
  p {
    color: $lightgray;
    font-size: 0.7rem;
    a {
      text-decoration: none;
      color: $crimsonred;
      font-weight: 700;
    }
  }
}
