@import "./index";
.jobsforyou__container {
  padding: 1rem;
  border-radius: 20px;
  background-color: $sectionbg;
}
.job__container {
  background-color: $charbg;
  @include flex(row, flex-start, flex-start);
  margin: 0.8rem 0;
  border-radius: 10px;
  padding: 0.5rem;
  &:hover .job__title {
    color: $crimsonred;
  }
  .job__title {
    color: #fff;
    font-weight: 700;
    font-size: 0.7rem;
    margin: 0;
  }
  .job__readers {
    color: $gray;
    font-size: 0.7rem;
  }
  img {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 0.5rem;
  }
}
