@import "./index";

.recent__container {
  padding: 1rem;
  border-radius: 20px;
  background-color: $sectionbg;

  h2 {
    span {
      color: $crimsonred;
    }
  }
  button {
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 0.5rem;
    color: $gray;
    background-color: $charbg;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    margin: 0.3rem;
    &:hover {
      color: $crimsonred;
    }
    span {
      color: $crimsonred;
      font-weight: 700;
    }
  }
}
