@import "./index";

.sidenav__container {
  position: relative;
  img {
    position: absolute;
    top: -10%;
    left: 22%;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  h3,
  h2 {
    text-align: center;
  }
  h3 {
    color: #fff;
    span {
      color: $gray;
    }
  }
  background-image: linear-gradient(
    to right top,
    #e9305eb4,
    #1e1b2cf8,
    #1e1b2cf8,
    #1e1b2cf8,
    #1e1b2cf8,
    #1e1b2cf8,
    #a52b49ee
  );
  border-radius: 20px;

  position: relative;
  padding: 20px;
  &:after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 0 40px 0 0;
    border-right: 8px solid crimson;
    border-top: 8px solid crimson;
    position: absolute;
    left: 289px;
    top: -8px;
  }
  &:before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 0 0 0 40px;
    border-left: 8px solid crimson;
    border-bottom: 8px solid crimson;
    position: absolute;
    right: 289px;
    bottom: -7px;
  }
  ul {
    li {
      line-height: 5rem;
      border-bottom: 1px solid $gray;
      color: $gray;
      font-weight: bold;
      &:hover {
        color: white;
      }
      &:before {
        font-family: "Font Awesome 5 Free";
        margin-right: 1rem;
        font-size: 1rem;
        color: $crimsonred;
        &:hover {
        }
      }

      &:nth-child(1):before {
        content: "\f015";
        font-weight: 700;
      }
      &:nth-child(2):before {
        content: "\f007";
      }
      &:nth-child(3):before {
        content: "\f0b1";
        font-weight: 700;
      }
      &:nth-child(4):before {
        content: "\f27a";
      }
      &:nth-child(5):before {
        content: "\f0f3";
      }
    }
  }
}
